body{
margin: 0px;
}

.header-1 p{
    text-align: justify;
}

.main-div{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-heading{
    text-align: center;
    background-color:rgb(255, 217, 170);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    
}
.height img{
    height: 500px;
    width: 250px;
    
}
.header-2{
    text-align: center;
    background-color:rgb(255, 217, 170);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    
}

#carouselExample img{
    object-fit: cover;
    border-radius: 15px !important;
    box-shadow: 5px 5px rgba(0,0,0,0.4) !important;
}