body{
    margin: 0px;
}
.header-2{
    text-align: center;
}
.indian{
    background-image: url('/images/indian\ overlay.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
}
.indian h1{
    margin-top: 50px;
}
.overlay-1{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}
.indian h1{
    position: absolute;
    left: 650px;
    background-color:  #e2cd8a;
    border-radius: 7px;
}
.heading-5 h2{
    margin-top: 50px;
}
.divider{
    display: grid   ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.divider h2{
    margin: 50px 0px 50px 0px;
    
}

.divider img{
   height: 100px;
   width: 300px;
    border-radius: 20px !important;
    box-shadow: 5px 5px 5px  #e2cd8a !important;
 margin-left: 90px;
 object-fit: cover;

}

.starters{
    text-align: center;
  background-color: #e2cd8a;
   
}
.starters h2{

    margin-bottom: 50px;
}
.chinese{
    background-image: url('/images/chinese.jpeg');
    background-size: cover;
    height: 400px;
    position: relative;
    margin-top: 50px;
}
.chinese h1{
    margin-top: 50px;
}
.overlay-1{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}
.chinese h1{
    position: absolute;
    left: 650px;
    background-color:  #e2cd8a;
    border-radius: 7px;
}
.italian{
    background-image: url('/images/ital.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    margin-top: 50px;
}
.italian h1{
    margin-top: 50px;
}
.overlay-1{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}
.italian h1{
    position: absolute;
    left: 650px;
    background-color:  #e2cd8a;
    border-radius: 7px;
}